{% extends "base_layout.html.twig" %}

{% block title  %}
    Login
{% endblock %}

{% block content %}
    <h3 class="error-message"> {{ message }} </h3>
    <div class="form-style-2">
        <div class="form-style-2-heading"> Login </div>
        {{ form_start(form) }}
            <label for="field1"><span>Username </span>{{ form_row(form.username) }}</label>
            <label for="field3"><span>Password </span>{{ form_row(form.password) }}</label>
            <label><span>&nbsp;</span><button type="button" onclick="return postLogin()">Login</button></label>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../js/ajaxform.js"></script>
    <script>
        window.REDIRECT_ID = 2;
    </script>
{% endblock %}

