{% extends "base_layout.html.twig" %}

{% block title  %}
    Register Page
{% endblock %}

{% block content %}
    <div class="form-style-2">
        <div class="form-style-2-heading"> Login </div>
        {{ form_start(form) }}
            <label for="field1"><span>Username <span class="required">*</span></span>{{ form_row(form.username) }}</label>
            <label for="field3"><span>Email <span class="required">*</span></span>{{ form_row(form.email) }}</label>
            <label for="field3"><span>Password <span class="required">*</span></span>{{ form_row(form.password) }}</label>
            <label><span>&nbsp;</span><input type="submit" value="Create Account" /></label>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
