{% extends "base_layout.html.twig" %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}">	
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
    <div>
	<h1>HOME</h1>
	</div>
	<div class="home-slideshow">
		<img class="homebg mySlides" src="../images/home2.png">
		<img class="homebg mySlides" src="../images/home.jpg">
		<button class="w3-button w3-display-left fa fa-chevron-left" aria-hidden="true" onclick="plusDivs(-1)"></button>
		<button class="w3-button w3-display-right fa fa-chevron-right" aria-hidden="true" onclick="plusDivs(+1)"></button>
		<button class="play-button fa fa-play" aria-hidden="true" onclick="play = true"></button>
		<button class="play-button fa fa-pause" aria-hidden="true" onclick="play = false"></button>
	</div>

{% for companiesInEachCategory in companiesGroupedByCategory %}

	{% set categoryName = '' %}
	{% set categoryIndex = loop.index %}

	{% for category in categories %}

		{% if categoryIndex == category.id %}
			{% set categoryName = category.category %}
		{% endif %}

	{% endfor %}

	<h2>{{ categoryName }}</h2>
	<div class="maincontent">
	{% for company in companiesInEachCategory %}
		<div class="company">
			<div class="company-text">
				<h3>{{ company.name }}</h3>
				<p>{{ company.description }}</p>
			</div>	
			<div class="company-img">
			</div>
		</div>
    {% endfor %}
    </div>
    <hr>
{% endfor %}

	<div align="left">

	<div class="form-style-2">
		<div class="form-style-2-heading">Register company here</div>

		<form action="" method="post">
			<label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" required /></label>
			<label for="field2"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="field2" value="" required /></label>
			<label for="field3"><span>Category</span>
			<select name="field3" class="select-field">
				<option value="Restaurant">Restaurant</option>
				<option value="Fast Food">Fast Food</option>
				<option value="Market">Market</option>
				<option value="Drug Store">Drug Store</option>
				<option value="Other">Other</option>
			</select></label>
			<label for="field4"><span>Delivery service </span><input type="checkbox" class="checkbox-field" name="field4"></label>
			<label for="field5"><span>Radio sample </span><input class="radio-field" type="radio" name="field5">Option A <input type="radio" name="field5">Option B <input type="radio" name="field5">Option C </label>
			<label for="field6"><span>Description</span><textarea name="field6" class="textarea-field"></textarea></label>

			<label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
		</form>
	</div>

	</div>
	<hr>
{% endblock %}

{% block scripts %}
	<script src="../js/slideshow.js"></script>
	<script src="../js/javascript.js"></script>
{% endblock %}
