{% extends "company_layout.html.twig" %}

{% block title %}
{{ company.name }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}">	
{% endblock %}

{% block content %}
	<div class="nav-menu">
		<a href="/home" class="nav-item fa fa-home" aria-hidden="true"></a>
	</div>

	<h1>{{ company.name }}</h1>
	<h2>
		{% for starIndex in 1..5 %}
			{% if average >= starIndex %}
				<i class="fa fa-star" aria-hidden="true"></i>
			{% elseif average < starIndex  and average > starIndex-1 %}
				<i class="fa fa-star-half-o" aria-hidden="true"></i>
			{% else %}
				<i class="fa fa-star-o" aria-hidden="true"></i>
			{% endif %}
		{% endfor %}
	</h2>
	<img class="homebg" src="../images/{{ company.logo_src }}">

	<div class="description-box">
		<h2>Description</h2> <hr>
		<p>
		{{ company.description }}
		</p>
		<hr>
	</div>

	<h4>Reviews</h4>

	{% for review in reviews %}

	<div class="review-container">
		<div class="info-box">
			<div class="star-box">
				<h5>
					{% for starIndex in 1..5 %}
						{% if review.rating >= starIndex %}
							<i class="fa fa-star" aria-hidden="true"></i>
						{% elseif review.rating < starIndex  and  review.rating > starIndex-1 %}
							<i class="fa fa-star-half-o" aria-hidden="true"></i>
						{% else %}
							<i class="fa fa-star-o" aria-hidden="true"></i>
						{% endif %}
					{% endfor %}
				</h5>
			</div>
			<p class="name-box">{{ review.name }}</p>
			<p class="date-box">{{ review.review_date }}</p>
		</div>
		<div class="comment-box">
			<p>
				{{ review.comment }}
			</p>
		</div>
	</div>

	{% endfor %}

	<!-- Add review -->
	<div class="form-style-2">
		<div class="form-style-2-heading">Review this company</div>

		<form action="" method="post">
			<label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" required /></label>
			<label for="field6"><span>Review</span><textarea name="field6" class="textarea-field"></textarea></label>
			<label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
		</form>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}