<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">Silex Project</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                </ul>
                {% if user is null %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a><span class="glyphicon glyphicon-user"></span>{{ user.username }}</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock %}
        {% if user is null %}
            {% if user.privilege == 1 %}
                {% if reviewed %}
                    <h3>You have reviewed this company.</h3>
                {% else %}
                    <a href="/review/{{ company.id }}" class="nav-item fa fa-pencil-square-o" aria-hidden="true">Review</a>
                {% endif %}
            {% elseif user.privilege == 2 %}
                {% if reviewed %}
                    <h3>You have reviewed this company.</h3>
                {% elseif company.user_id == user.id %}
                    <h3>You can't review your own company.</h3>
                {% else %}
                    <a href="/review/{{ company.id }}" class="nav-item fa fa-pencil-square-o" aria-hidden="true">Review</a>
                {% endif %}
                {% if company.user_id == user.id %}
                    <a href="/company-save/{{ company.id }}" class="nav-item fa fa-paperclip" aria-hidden="true">Edit</a>
                {% endif %}
            {% else %}
                {% if reviewed %}
                    <h3>You have reviewed this company.</h3>
                {% elseif company.user_id == user.id %}
                    <h3>You can't review your own company.</h3>
                {% else %}
                    <a href="/review/{{ company.id }}" class="nav-item fa fa-pencil-square-o" aria-hidden="true">Review</a>
                {% endif %}
                <a href="/company-save/{{ company.id }}" class="nav-item fa fa-paperclip" aria-hidden="true">Edit</a>
            {% endif %}
        {% endif %}
    </body>
</html>
